<%= render 'users/sidebox', post: @post, user: @user %>

<div class="col-md-8 offset-md-1">
  <h2>投稿一覧</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>投稿ユーザー</th>
          <th>場所</th>
          <th>説明</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post_path(post.id) do %>
                <%= image_tag post.get_image, size: "150x150" %>
              <% end %>
          </td>
          <td>
           <%= image_tag post.user.get_image, size: "50x50" %> <%= post.user.name %>
          </td>
          <td>
            <%= post.title %>
          </td>
          <td>
            <%= post.body %>
          </td>
        <% end %>
      </tbody>
    </table>
</div>